<h1>New Sub</h1>

<form action="/subs" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token"
  value=<%= form_authenticity_token %> id="authenticity_token">
  <br>

  <label for="sub_name">Sub Name</label>
  <input type="text" name="sub[name]" value="<%= @sub.name %>" id="sub_name">
  <br>

  <% (1..5).each do |i| %>
    <label for="sub_link_<%= i %>">Link <%= i %></label>
    <input type="text" name="sub[link][<%= i %>]" id="sub_link_<%= i %>">
    <br>
  <% end %>


  <p><input type="submit" value="Create Sub"></p>
</form>